@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@100;200;400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

body {
  width: 85vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#__next {
  width: 100%;
}


/* Carousel stuff */
.carousel {
  width: 100%;
  height: 494px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px 10px;
}